/* وقتی تیلویند رو اینجور اضافه کنی دستت بازتره */
/* installed tailwind using vite method exepct the next 4 lines */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* this code makes all bootstrap icons vertical align middle */
.bi::before {
  vertical-align: middle;
}

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
  html{
    scroll-behavior: smooth;
  }
  body {
    background-color: red;
  }
  div#root {
    background-color: white;
    max-width: 1616px;
    margin: 0 auto;
  }
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  div,
  button {
    font-family: "iransans";
  }
}

/* شخصی سازی های تیلویند */
@theme {
  --breakpoint-sm: 480px;
  --breakpoint-sm: 768px;
  --breakpoint-sm: 976px;

  --color-primary: #c78a3b;
  --color-secondary: #efaa52;
  --color-neutral-primary: #c78a3b5f;
  --color-cu-neutral-400: #f8f3e6;
  --color-cu-neutral-500: #e7cc8f;
  --color-cu-neutral-600: #d8d2c2;
  --color-cu-neutral-700: #bbbbbb;
  --color-cu-neutral-800: #4a4947;
  --color-cu-neutral-900: #333;

  --color-transparent: rgba(0, 0, 0, 0);

  --color-glass-shadow: rgba(0, 0, 0, 0.684);

  --shadow-b-lean-300: 0 0.5px 3px rgba(0, 0, 0, 0.1);
  --shadow-b-card-300: 0 0 5px 1px #ab3e16;
  --shadow-card-neutral: 0 0 5px 1px #bbbbbb;
  --shadow-full-ring: 0 0 3px 2px #ab3e16;
  --shadow-full-black: 0 0 1px 1px black;
  --inset-full-444: inset 0 0 0px 1px #444;
  --text-shadow-stroke:0 0 5px var(--tw-text-shadow-color);

  --spacing-1px: 1px;
  --spacing-2px: 2px;

  --font-iransans: "iransans";
  --font-weight-weight400: 400;
  --font-weight-weight300: 300;
  --font-weight-weight200: 200;
  --font-weight-weight100: 100;

  --text-size24: 24px;
  --text-size17: 17px;
  --text-size16: 16px;
  --text-size15: 15px;
  --text-size14: 14px;
  --text-size13: 13px;

  --aspect-1353/555: 1353/555;
  --aspect-284/170: 284/170;

  --breakpoint-*: initial;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 53rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 100rem;
}

/* 

sm	: (640px)
md	: (768px)
lg	: (1024px)
xl	: (1280px)
2xl	: (1536px)

 */

@font-face {
  font-family: "iransans";
  font-style: normal;
  font-weight: 400;
  src: local("iransans"),
    url("/src/assets/fonts/iransans/IRANSansWeb_FaNum_Bold.woff2");
}
@font-face {
  font-family: "iransans";
  font-style: normal;
  font-weight: 200;
  src: local("iransans"),
    url("/src/assets/fonts/iransans/IRANSansWeb_FaNum_Light.woff2");
}
@font-face {
  font-family: "iransans";
  font-style: normal;
  font-weight: 300;
  src: local("iransans"),
    url("/src/assets/fonts/iransans/IRANSansWeb_FaNum_Medium.woff2");
}
@font-face {
  font-family: "iransans";
  font-style: normal;
  font-weight: 100;
  src: local("iransans"),
    url("/src/assets/fonts/iransans/IRANSansWeb_FaNum_UltraLight.woff2");
}
