div.items-slideshow-container div.swiper.swiper-initialized {
  position: static;
}

div.items-slideshow-container div.swiper.swiper-initialized div.swiper-slide {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
}
div.items-slideshow-container
  div.swiper.swiper-initialized
  div.swiper-slide
  > div.blur-layer {
  border: 1px solid transparent;
  background-color: transparent;
}

div.items-slideshow-container
  div.swiper.swiper-initialized
  div.swiper-slide.swiper-slide-next
  > div.blur-layer {
  border: 1px solid var(--color-neutral-50);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-color: transparent;
  transition-property: all;
  transition-duration: 1000ms;
}
