header {
  top: 0;
  width: 100%;
  max-width: inherit;
}
div#header-container.mobile-header nav ul li div h4 {
  cursor: pointer;
}
div#header-container.mobile-header div.hideMenu {
  background-color: white;
  position: absolute;
  height: 100dvh;
  overflow-y: scroll;
  transform: translateX(-100%);
  top: 0;
  gap: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  transition: all 500ms;
  left: 0;
}
div#header-container.mobile-header div.showMenu {
  transform: translateX(0);
}
div#header-container.mobile-header div.mobileMenu-overlay {
  background-color: var(--color-glass-shadow);
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  height: 100dvh;
}

div#header-container.mobile-header nav ul li.mega-menu {
  border: 1px solid var(--color-neutral-300);
  border-radius: 5px;
}

div#header-container.mobile-header nav ul li > div.head {
  padding: 10px;
}
div#header-container.mobile-header nav ul li > div.childs {
  display: grid;
  grid-template-rows: 0fr;
  transition-property: grid-template-rows;
  transition-duration: 300ms;
}
div#header-container.mobile-header nav ul li > div.head > i {
  transform: rotate(0);
}
div#header-container.mobile-header nav ul li > div.childs > ul {
  overflow: hidden;
}
div#header-container.mobile-header nav ul li.open > div.childs {
  grid-template-rows: 1fr;
}
div#header-container.mobile-header nav ul li.open > div.head > i {
  transform: rotate(-90deg);
}
